.course-list-item {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course-list-item-image {
  height: 80px;
  width: 80px;
}
.course-name {
  font-weight: 500;
  font-size: 26px;
}
.link-item {
  text-decoration: none;
  color: black;
}
